config.ini
config.json
web/build
web/node_modules
cacert.pem
defs.zip
cardigann
cardigann-linux-armv5
cardigann-linux-386
cardigann-linux-amd64
cardigann-darwin-amd64
cardigann-windows-386
equinox.yml
equinox.key